@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(../img/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../img/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: top center;
}

iframe {
    position: absolute;
    top: 82px;
    left: 23px;
    height: 469px;
    width: 265px;
    border-radius: 2px;
}

section#icones_sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section#icones_sociais img {
    height: 60px;
    border-radius: 50%;
    margin: 15px 15px 0 0;
    transition: 100ms ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

section#icones_sociais img:hover {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    transform: translate(-2px, -1px);
}

@media (max-width: 740px) {
    section#celular {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        height: 544px;
        width: 270px;
        background: url(../img/frame-iphone-mquery.png);
        background-repeat: no-repeat;
        background-position: top center;
    }

    iframe {
        position: absolute;
        top: 70px;
        left: 20px;
        height: 408px;
        width: 231px;
        border-radius: 2px;
    }
}
